@import "./variables";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    padding-inline: 16px;
    max-width: 100%;
    margin-inline: auto;

    @media (min-width: 576px) {
        max-width: 540px;
    }
 

    @media (min-width: 768px) {
        max-width: 720px;
    }

    @media (min-width: 992px) {
        max-width: 960px;
    }
 

    @media (min-width: 1200px) {
        max-width: 1140px;
    }
 

    @media (min-width: 1400px) {
        max-width: 1320px;
    }
 }


header{
    background-color: $primary;
    nav{
      > a{
        margin-right: 200px;
      }   
      a{
        color: white;
        text-decoration: none;
        background-color: rgb(246, 171, 85);
        padding: 10px 15px;
        border-radius: 4px;
        border: 1px solid rgb(240, 215, 215);
        &:hover{
            background-color: rgb(17, 137, 243);
            color: black;

        }
      }
      ul{
        display: flex;
        list-style: none;
        gap: 70px;
      }
      display: flex;
      justify-content: start;
      align-items: center;
    }
    padding: 30px;
}