* {
    box-sizing: border-box;
}

.container {
    margin: auto;
    display: flex;
    margin-top: 40px;
    background-color: rgb(255, 255, 255);
    width: 700px;
    height: 610px;
}

:root {
    --grey-bg-color: rgb(237, 237, 237);
}

.left-black {
    background-color: black;
    width: 130px;
    height: 610px;
}

.top-transparent {
    width: 700px;
    height: 40px;
    border-top: 1px solid rgb(237, 237, 237);
    border-bottom: 1px solid rgb(237, 237, 237);
    background-color: transparent;
    border-radius: 2px;
    position: absolute;
    top: 40px;
    left: 418px;
}

.box-3 {
    height: 110px;
    width: 500px;
    background-color: var(--grey-bg-color);
    border-radius: 7px;
    justify-content: start;
    align-content: start;
    margin-top: 50px;
    margin-left: 25px;
}

.flex-wrapper-1 {
    display: flex;
    height: 90px;
    width: 220px;
    border: 1px solid  var(--grey-bg-color);
    border-radius: 4px;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 24px;
    margin-top: 40px;
}

.flex-wrapper-1 div:nth-child(1) {
    height: 62px;
    width: 62px;
    background-color:  var(--grey-bg-color);
    border-radius: 4px;
}

.flex-wrapper-1 div:nth-child(2) {
    height: 62px;
    width: 62px;
    background-color: var(--grey-bg-color);
    border-radius: 4px;
}

.flex-wrapper-1 div:nth-child(3) {
    height: 62px;
    width: 62px;
    background-color:  var(--grey-bg-color);
    border-radius: 4px;
}

.wrapper{
    display: flex;
    justify-content: start;
    gap: 30px;
}

.flex-wrapper-2 {
    display: flex;
    height: 80px;
    width: 200px;
    border: 1px solid  var(--grey-bg-color);
    border-radius: 4px;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 24px;
    margin-top: 30px;
}

.flex-wrapper-2 div:first-child {
    height: 60px;
    width: 86px;
    background-color:  var(--grey-bg-color);
    border-radius: 4px;
}

.flex-wrapper-2 div:last-child {
    height: 45px;
    width: 78px;
    background-color: var(--grey-bg-color);
    border-radius: 8px;
}

.flex-wrapper-3 {
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 252px;
    border-radius: 4px;
    border: 1px solid var(--grey-bg-color);
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.flex-wrapper-3 div:first-child {
    height: 102px;
    width: 251px;
    background-color: var(--grey-bg-color);
    border-radius: 4px;
}

.flex-wrapper-3 div:last-child {
    height: 102px;
    width: 250px;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
}

.flex-wrapper-4 {
    display: flex;
    height: 100px;
    width: 500px;
    background-color:  rgb(237, 237, 237);
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    gap: 14px;
    padding: 10px;
    margin-top: 40px;
    margin-left: 24px;
}

.flex-wrapper-4 .flex-item-1 {
    height: 60px;
    width: 70px;
    background-color:rgb(222, 222, 222);
    border-radius: 7px;
    align-self: start;
}

.flex-item-2 {
    display: flex;
    flex-direction: column;
}

.flex-item:first-child {
    height: 45px;
    width: 70px;
    background-color:rgb(222, 222, 222);
    border-radius: 4px;
}

.flex-item:last-child {
    height: 35px;
    width: 70px;
    background-color: white;
    border-radius: 4px;
}

.flex-wrapper-4 .flex-item-3 {
    height: 80px;
    width: 70px;
    background-color: rgb(222, 222, 222);
    border-radius: 7px;
    align-self: center;
}

.flex-wrapper-4 .flex-item-4 {
    height: 80px;
    width: 70px;
    background-color: white;
    border-radius: 7px;
    align-self: center;
}

.flex-wrapper-4 .flex-item-5 {
    height: 55px;
    width: 40px;
    background-color: white;
    border-radius: 7px;
    align-self: center;

}

.bottom-border {
    height: 1px;
    width: 570px;
    background-color: rgb(237, 237, 237);
    margin-top: 14px;
}