* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Font Family */
  --font-family-base: "Be Vietnam Pro", sans-serif;
  --font-family-heading: "Be Vietnam Pro", sans-serif;

  /* Theme Colors */
  --primary: #FF9500;
  --primary-rgb: 255, 149, 0;
  --dark: #262626;
  --secondary: #2f2105;

  /* Background Color */
  --bg-white: white;
  --body-bg: #f7f7f8;
  --body-bg-light: rgb(252, 252, 253);

  /* Menu */
  --menu-color: var(--dark);
  --menu-active-color: var(--dark);
  --menu-hover-color: var(--dark);
  --menu-link-font-size: 14px;
  --menu-link-border-radius: 6px;
  --menu-link-font-weight: 400;
  --menu-link-padding-x: 20px;
  --menu-link-padding-y: 12px;
  --container-max-width: 100%;
  --container-padding-x: 1rem;

  /* Heading */
  --line-height-base: 1.5;
  --line-height-heading: 48px;
  --heading-color: var(--dark);
  --font-weight-heading: 600;

  /* Button */
  --btn-padding-y: 12px;
  --btn-padding-x: 24px;
  --btn-border-radius: 6px;
  --btn-font-size: 14px;
  --btn-font-weight: 400;
}

@media (min-width: 576px) {
  :root {
    --container-max-width: 540px;
  }
}

@media (min-width: 768px) {
  :root {
    --container-max-width: 720px;
  }
}

@media (min-width: 992px) {
  :root {
    --container-max-width: 960px;
  }
}

@media (min-width: 1200px) {
  :root {
    --container-max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  :root {
    --container-max-width: 1320px;
  }
}

body {
  font-family: var(--font-family-base);
  line-height: var(--line-height-base);
  background-color: var(--bg-white);
  scroll-behavior: smooth;
  font-size: var(--font-size-base, 1rem);
}

.container {
  width: 100%;
  padding-inline: var(--container-padding-x);
  max-width: var(--container-max-width);
  margin-inline: auto;
}

/* Typography */
h1,
.h1,
h2,
.h2,
.h3,
h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: var(--font-family-heading);
  font-weight: var(--font-weight-heading);
  color: var(--heading-color);
}

h1,
.h1 {
  font-size: 16px;
  line-height: 72px;
}

h2,
.h2 {
  font-size: 24px;
  line-height: 48px;
}

h3,
.h3 {
  font-size: 16px;
  line-height: 36px;
}

h4,
.h4 {
  font-size: 14px;
}

h5,
.h5 {
  font-size: 11px;
}

p {
  line-height: 27px;
}

@media (min-width: 576px) {
  h1,
  .h1 {
    font-size: 22px;
  }

  h2,
  .h2 {
    font-size: 26px;
  }

  h3,
  .h3 {
    font-size: 17px;
  }

  h4,
  .h4 {
    font-size: 15px;
  }

  h5,
  .h5 {
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  h1,
  .h1 {
    font-size: 30px;
  }

  h2,
  .h2 {
    font-size: 28px;
  }

  h3,
  .h3 {
    font-size: 18px;
  }

  h4,
  .h4 {
    font-size: 15px;
  }

  h5,
  .h5 {
    font-size: 13px;
  }
}

@media (min-width: 992px) {
  h1,
  .h1 {
    font-size: 36px;
  }

  h2,
  .h2 {
    font-size: 32px;
  }

  h3,
  .h3 {
    font-size: 20px;
  }

  h4,
  .h4 {
    font-size: 16px;
  }

  h5,
  .h5 {
    font-size: 14px;
  }
}

@media (min-width: 1200px) {
  h1,
  .h1 {
    font-size: 42px;
  }

  h2,
  .h2 {
    font-size: 36px;
  }

  h3,
  .h3 {
    font-size: 22px;
  }

  h4,
  .h4 {
    font-size: 17px;
  }

  h5,
  .h5 {
    font-size: 15px;
  }
}

@media (min-width: 1400px) {
  h1,
  .h1 {
    font-size: 48px;
  }

  h2,
  .h2 {
    font-size: 38px;
  }

  h3,
  .h3 {
    font-size: 24px;
  }

  h4,
  .h4 {
    font-size: 18px;
  }

  h5,
  .h5 {
    font-size: 16px;
  }
}

/* Text */

.text-center {
  text-align: center;
}

/* Background & text color */

.bg-primary {
  background-color: var(--primary);
}

.bg-secondary {
  background-color: var(--secondary);
}

.text-primary {
  color: var(--primary);
}

.text-grey {
  color: #59595a;
}

.text-dark {
  color: var(--dark);
}

.text-white {
  color: #fff;
}

.bg-white {
  background-color: #fff;
}

.bg-body-light {
  background-color: var(--body-bg-light);
}

.body-bg {
  background-color: var(--body-bg);
}

/* Buttons & Links */

a {
  text-decoration: none;
}

.btn {
  --btn-border-color: transparent;
  --btn-border-width: 1px;
  --btn-background-color: var(--primary);
  --btn-color: var(--body, white);
  --btn-hover-color: #fff;
  --btn-active-color: #fff;
  --btn-hover-background: var(--primary);
  --btn-hover-border-color: var(--primary);
  --btn-active-background: var(--primary);
  --btn-active-border-color: var(--primary);
  display: inline-block;
  font-size: var(--btn-font-size);
  font-weight: var(--btn-font-weight);
  line-height: 1;
  padding: var(--btn-padding-y) var(--btn-padding-x);
  border-radius: var(--btn-border-radius);
  background-color: var(--btn-background-color);
  color: var(--btn-color);
  border: var(--btn-border-width) solid var(--btn-border-color);
  transition: 0.4s all;
}

.btn:hover,
.btn:focus {
  border-color: var(--btn-border-color);
  background-color: var(--btn-hover-background);
  color: var(--btn-hover-color);
  border-color: var(--btn-hover-border-color);
}

.btn:active {
  border-color: var(--btn-border-color);
  background-color: var(--btn-active-background);
  color: var(--btn-active-color);
  border-color: var(--btn-acive-border-color);
}

.btn-white {
  --btn-border-color: #fff;
  --btn-background-color: #fff;
  --btn-color: var(--dark);
  --btn-hover-color: #fff;
  --btn-active-color: #fff;
  --btn-hover-border-color: var(--primary);
  --btn-hover-background: var(--primary);
  --btn-active-background: var(--primary);
  --btn-active-border-color: var(--primary);
}

.btn-dark {
  --btn-border-color: var(--secondary);
  --btn-background-color: var(--secondary);
  --btn-color: #fff;
  --btn-hover-color: #fff;
  --btn-active-color: #fff;
  --btn-hover-border-color: var(--primary);
  --btn-hover-background: var(--primary);
  --btn-active-background: var(--primary);
  --btn-acive-border-color: var(--primary);
}

.text-link {
  padding: 0;
  background: transparent;
  border: 0;
  font-size: 17px;
}

/* list */
.list-unstyled {
  list-style: none;
}

/* Images */
.img-responsive {
  width: 100%;
  max-width: 100%;
  height: auto;
}

/* Display */

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-block;
}

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.d-grid {
  display: grid;
}

.place-content-center {
  place-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-start {
  justify-content: start;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: end;
}

.align-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}


.flex-column-reverse {
  flex-direction: column-reverse;
}

.flex-column-reverse {
  flex-direction: column-reverse;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.align-self-start {
  align-self: flex-start;
}

.align-self-end {
  align-self: flex-end;
}

/* Position */

.position-absolute {
  position: absolute;
}

.position-relative {
  position: relative;
}

/* Over Flow */

.overflow-hidden {
  overflow: hidden;
}

/* Box Shadow */
 
.box-shadow {
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);;
}

/* Spacers */
.mt-auto {
  margin-top: auto;
}

/* menu-link */
.menu-link {
  color: var(--menu-color);
  font-size: var(--menu-link-font-size);
  font-weight: var(--menu-link-font-weight);
  padding: var(--menu-link-padding-y, 0.75rem) var(--menu-link-padding-x, 1.25rem);
  border-radius: var(--menu-link-border-radius);
}

.menu-link:hover {
  color: var(--menu-hover-color);
  background-color: var(--body-bg);
}

.menu-link:active,
.menu-link.active {
  color: var(--menu-active-color);
  background-color: var(--body-bg);
}

/* Top Notification */

.top-notification {
  font-size: 14px; 
  margin-inline: 16px;
  border-radius: 6px;
  margin-top: 40px;
  padding-block: 10px;
}

.top-notification img {
  margin-left: 12px;
  height: 20px;
  width: 20px;
}

@media (min-width: 768px) {
    .top-notification {
      margin-top: 20px;
    }
}

/* Home Header */

.navbar-brand img , .footer-logo a img {
  width: 44px;
  height: 44px;
  padding: 6px;
  border-radius: 8px;
}

.nav-section {
  margin-top: 16px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(241, 241, 243, 1);
}

.navbar-brand {
  margin-right: 50px;
}

.header-nav_btn div:first-child {
  margin-right: 20px;
}
.header-nav_btn div:nth-child(2) {
  margin-right: 20px;
}

nav:has(#toggler:checked) .nav-links  {
  display: flex;
  z-index: 20;
  justify-content: flex-start;
}

.navbar-toggler {
  width: 26px;
  height: 17px;
  justify-content: space-between;
  background: none;
  border: none;
}

.nav-links > ul {
   right: 0%;
   top: 80%;
   gap: 20px;
   padding-block: 20px;
   padding-left: 10px;
   background-color: var(--bg-white);
   border: 1px solid var(--dark);
   border-radius: 8px;
   width: 50%;
   justify-content: start;
}

.navbar-toggler span {
  height: 3px;
  border-radius: 2px;
  background: var(--dark);
}

.navbar-toggler span:nth-child(4) {
    width: 60%;
    align-self: flex-end;
}

.about-us-header .container nav {
  z-index: 20;
}

@media (min-width: 768px) {

  .nav-links > ul {
    width: 40%;
  }

}

@media (min-width: 992px) {
  .navbar-toggler {
    display: none;
  }

  .nav-links > ul {
      position: static;
      flex-direction: row;
      width: auto;
      padding-block: 20px;
      padding-left: 10px;
      background-color: transparent;
      border: none;
      border-radius: 8px;
  }

  .nav-links {
    display: flex;
  }
}

/* Top Banner */

.banner-content {
  padding-top: 50px;
  padding-bottom: 50px;
}

.heading-1-icon {
  width: 24px;
  height: 24px;
}

.banner-content > div div {
  padding: 12px;
  background-color: #FFF4E5;
  margin-right: 10px;
  height: max-content;
  align-self: center;
}

.banner-content > div {
  margin: auto;
  width: max-content;
  background-color: var(--bg-white);
  padding-block: 14px;
  padding-inline: 20px 30px;
  border-radius: 11px;
  margin-bottom: 16px;
}

.abstract-line {
  left: -3%;
  top: -26%;
}

.banner-button {
  gap: 12px;
  padding-bottom: 30px;
}


@media (min-width: 576px) {
   .banner-content {
      padding-top: 60px;
    }

    .banner-button {
      padding-bottom: 50px;
    }
}
@media (min-width: 768px) {
   .banner-content {
      padding-top: 70px;
    }

    .banner-button {
      padding-bottom: 80px;
    }

}
@media (min-width: 992px) {

    .banner-content {
      padding-top: 80px;
    }

    .banner-button {
      padding-bottom: 100px;
    }

}
@media (min-width: 1200px) {
    .banner-content {
      padding-top: 100px;
    }

}
@media (min-width: 1400px) {

}

/* Brand Logos Section */

.logos-wrapper .brand-logo {
  padding-inline: 32px;
  padding-block: 20px;
}

.logos-wrapper {
   padding: 10px;
   border-radius: 8px;
}

.brand-logos {
  padding-bottom: 10px;
}


.logo-right-border {
  height: 64px;
  border: 1px solid rgb(238, 236, 236);
}

@media (min-width: 576px) {
   .logos-wrapper > div:nth-child(7) , .logos-wrapper > div:nth-child(8) {
    display: flex;
  }
}


@media (min-width: 768px) {
  .logos-wrapper > div:nth-child(9) , .logos-wrapper > div:nth-child(10) {
    display: flex;
  }
}

@media (min-width: 992px) {
  .logos-wrapper > div:not(:last-child) {
    display: flex;
  }

  .logos-wrapper {
    justify-content: space-between;
    padding: 24px;
  }

}

@media (min-width: 1200px) {
     .logos-wrapper {
      padding: 26px;
    }
}

@media (min-width: 1400px) {
     .logos-wrapper {
      padding: 30px;
    }
}




/* Video Section */

.video-wrapper .play-button {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.video-wrapper {
  padding-top: 20px;
}

@media (min-width: 576px) {
  .video-wrapper {
    padding-top: 40px;
  }
}

@media (min-width: 768px) {
  .video-wrapper {
    padding-top: 50px;
  }
}

@media (min-width: 992px) {
   .video-wrapper {
    padding-top: 70px;
  }
}

@media (min-width: 1200px) {
    .video-wrapper {
      padding-top: 80px;
    }
}

@media (min-width: 1400px) {
  .video-wrapper {
    padding-top: 90px;
  }
}


/* Benefits Section */

.benefits-btn {
  font-size: 14px;
  padding-inline: 20px;
  padding-block: 14px;
  white-space: nowrap;
  align-self: start;
}

.benefits-content {
   padding-bottom: 20px;
}

.benefits-content > p {
  font-weight: 400;
}

.benefits-top {
  padding-block: 50px 40px;
}

.benefits-content h2{
  font-size: 28px;
  margin-bottom: 4px;
}

.benefits-cards-wrapper {
  gap: 20px;
}

.benefit-card {
  padding: 30px;
  border-radius: 10px;
}

.benefit-card > div h3 {
  font-size: 50px;
  font-weight: 700;
  line-height: 24px;
}

.benefit-card h4 {
  font-size: 20px;
  margin-top: 30px;
}

.benefit-card p {
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 30px;
  line-height: 1.5;
}

.benefit-card > div img {
  width: 26px;
  height: 26px;
}

.benefit-card > div:last-child{
  padding: 14px;
  border-radius: 6px;
  background-color: #F1F1F3;
  border: 1px solid #dedee0;
  margin-top: auto;
}



@media (min-width: 576px) {
    .benefits-content h2{
      font-size: 32px;
    }
    .benefits-cards-wrapper {
      flex-direction: row;
      flex-wrap: wrap;
    }
    .benefit-card {
      padding: 25px;
      width: 48%;
    }
  .benefit-card > div h3 {
    font-size: 54px;
  }
  .benefit-card p {
  font-size: 15px;
}
}

@media (min-width: 768px) {
  .benefits-content h2{
      font-size: 36px;
    }
  .benefits-cards-wrapper {
    column-gap: 20px;
    justify-content: center;
  }  
  .benefit-card {
    padding: 28px;
  }
    .benefit-card > div h3 {
    font-size: 56px;
  }
}

@media (min-width: 992px) {
  .benefits-content h2{
      font-size: 38px;
    }
  .benefits-top {
    flex-direction: row;
  } 
  .benefits-btn { 
    align-self: flex-end;
  }
  .benefits-content {
   padding-bottom: 0px;
  }
  .benefits-content > p {
   width: 87%;
  }
  .benefit-card {
    padding: 30px;
    width: 31%;
  }
  .benefit-card > div h3 {
    font-size: 60px;
  }
  .benefit-card p {
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  .benefits-btn {
      font-size: 18px;
  }
  .benefits-content h2{
      font-size: 44px;
  }
  .benefit-card {
    padding: 40px;
  }
  .benefit-card > div h3 {
    font-size: 70px;
  }
    .benefit-card p {
    font-size: 17px;
  }
  .benefit-card h4 {
    font-size: 22px;
  }
  .benefit-card > div:last-child{
    padding: 18px;
  }
}

@media (min-width: 1400px) {
  .benefits-content {
      font-size: 48px;
    }
  .benefit-card {
    padding: 50px;
  } 
  .benefit-card > div h3 {
    font-size: 80px;
  } 
  .benefit-card p {
    font-size: 18px;
  }
  .benefit-card h4 {
    font-size: 24px;
  }
  .benefit-card > div:last-child{
    padding: 20px;
  }
}




/* Footer Section */

footer {
  margin-top: 50px;
  margin-bottom: 24px;
}


.footer-content .container{
  padding-bottom: 47px;
  border-bottom: 2px solid var(--body-bg);
  margin-bottom: 30px;
}

 .footer-logo a img {
  margin-bottom: 30px;
 }

 .footer-contact > ul{
    gap: 12px;
 }

 .footer-contact img {
  width: 24px;
  height: 24px;
 }

 .footer-contact-img {
  margin-right: 6px;
 }

.footer-links > nav {
    margin-top: 10px;
    gap: 4px;
}

.footer-links > nav a {
  line-height: 1.5;
  font-weight: 400;
}

.footer-links strong {
  font-size: 18px;
  font-weight: 600;
}

.social-profiles a img {
  width: 20px;
  height: 20px;
}

.social-profiles a {
   padding: 12px;
   background-color: var(--body-bg);
   border-radius: 6px;
}

.footer-links > .social-profiles {
 column-gap: 12px;
}

.footer-intro {
  width: 100%;
  margin-bottom: 24px;
}

.home-links {
  width: 50%;
}


.about-us-links {
  width: 50%;
}

.social-links {
  width: 100%;
  margin-top: 24px;
}

.footer-content div {
  justify-content: space-between;
}


@media (min-width: 576px) {
  .footer-intro {
    width: 100%;
    margin-bottom: 24px;
  }

  .home-links {
    width: 33%;
  }


  .about-us-links {
    width: 33%;
  }

  .social-links {
    width: 33%;
    margin-top: 0px;
  }
}
  
  

@media (min-width: 768px) {  
  footer {
    margin-top: 60px;
    margin-bottom: 20px;
  }
  .footer-intro {
    width: auto;
    margin-bottom: 0px;
  }

  .home-links {
    width: auto;
  }


  .about-us-links {
    width: auto;
  }

  .social-links {
    width: auto;
    margin-top: 0px;
  }
}


@media (min-width: 992px) {
   footer {
      margin-top: 100px;
      margin-bottom: 30px;
    }
}